<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">Home </button>
    
    <span class="spacer"></span>
    <button *ngIf="globals.loginstate" mat-button routerLink="/register">Register</button>
    <button *ngIf="!globals.loginstate" mat-button routerLink="/login">Login</button>
    <button *ngIf="globals.loginstate" mat-button routerLink="" (click)="onLogout()">logout</button>
  </mat-toolbar-row>
</mat-toolbar> 
 <!-- <P>var value : {{globals.loginstate}}</P>  -->