<p>Hello, please Book an appointment !!</p>
<!-- <mat-form-field class="example-full-width">
  <input matInput #input="ngModel" [(ngModel)]="date" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <mat-error *ngIf="input.hasError('matDatepickerMax')">Date should be valid</mat-error>
  
</mat-form-field>

<br><br><br> -->
 


<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">apointment reservation</div>

    <form [formGroup]="AppoForm" (ngSubmit)="AppoForm.valid && onAppoFormSubmit()" novalidate>
      <div class="form-container">  

        <mat-form-field>
            <!-- <input id="password"
                   matInput
                   formControlName="password"
                   [(ngModel)]="user.password"
                   placeholder="Enter your password"
                   [type]="hide ? 'password':'text'" />
              <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon> -->
              <input id="appointmentID" matInput #input="ngModel" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            
              <mat-error *ngIf="input.hasError('matDatepickerMax')">Date should be valid</mat-error>
          </mat-form-field>

          <button mat-button type="submit" 
          class="mat-raised-button mat-primary">make new appointment</button>
          <!-- <button mat-button routerLink="/register" class="divider">Register</button> -->
      </div>
    </form>
  </div>
</div>