<p>Hello, please Book an appointment !!</p>
<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">apointment reservation</div>
    <form [formGroup]="AppoForm" (ngSubmit)="AppoForm.valid && onAppoFormSubmit()" novalidate>
      <div class="form-container">  
        <mat-form-field>
          <input id="name"
                 matInput
                 formControlName="name"
                 [(ngModel)]="this.inputAppo.name"
                 
                 placeholder="Enter your name" />
        </mat-form-field>
        <mat-form-field>
          <input id="phoneNumber"
                 matInput
                 formControlName="phoneNumber"
                 [(ngModel)]="this.inputAppo.phoneNumber"
                 placeholder="Enter your phone Number" />
        </mat-form-field>

         <mat-form-field>
          <input id="email"
                 matInput
                 formControlName="email"
                 [(ngModel)]="this.inputAppo.email"
                 placeholder="Enter your email(optional)" />
        </mat-form-field>
        <mat-form-field>
              <input id="date" matInput
              formControlName="date"
              [(ngModel)]="this.inputAppo.date"
               [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- <mat-error *ngIf="input.hasError('matDatepickerMax')">Date should be valid</mat-error> -->
              <br><br>
          </mat-form-field>
        <br><br>
          <label for="exampleInput">set a time </label>
          <input id="date" matInput 
          placeholder="insert hour" aria-label="Editable dial"
          [ngxTimepicker]="editableDial" 
          formControlName="hour"
          [(ngModel)]="this.inputAppo.hour"  readonly>
      <ngx-material-timepicker #editableDial [enableKeyboardInput]="true" ></ngx-material-timepicker> 
      <br><br>
      <button mat-button type="submit" 
          class="mat-raised-button mat-primary">reserve new appointment</button>
      </div>
    </form>
  </div>
</div>